<h1>Register</h1>
 <div class="photo">
  <div *ngIf="!selectedFile">
    <img src="assets/plcImg.jpg" alt="Placeholder" class="placeholder-image" width="310" height="325">
  </div>
      <label for="photoInput"></label>
      <input type="file" id="photoInput" name="photo" accept="image/*" (change)="onFileSelected($event)">
  <p class="upload-text">Upload your Photo</p>
  <div *ngIf="selectedFile">
    <img [src]="imageUrl" alt="Selected Photo" width="310" height="325">
  </div> <br><br>


    <form class="form" [formGroup]="registrationForm" (ngSubmit)="registerUser()" >
      <label for="firstName"></label>
      <input type="text" id="firstName"  name="firstName" placeholder="First Name" formControlName="firstName" required>&nbsp;&nbsp;&nbsp;
      <!-- <span *ngIf="firstName.errors ?.required">user name can't be empty</span> -->

      <label for="lastName"></label>
      <input type="text" id="lastName" name="lastName" placeholder="Last Name" formControlName="lastName" required><br><br>

      <label for="email"></label>
      <input type="email" id="email" name="email" placeholder="Email" formControlName="email" required><br><br>

      <label for="contactNumber"></label>
      <input type="text" id="contactNumber" name="contactNumber"  placeholder="(541) 754-3010" formControlName="contactNumber" required><br><br>

      <label for="ageRange">Age</label>
      <input type="range" id="ageRange" name="ageRange" min="20" max="60" (input)="onAgeChange($event)" formControlName="ageRange" >{{ selectedAge }}<br><br>

      <label for="state"></label>
      <select id="state" name="state" formControlName="state" >
        <option disabled selected value="">State</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Himachal Pradesh">Himachal Pradesh</option>
        <option value="Uttar Pradesh">Uttar Pradesh</option>
        <option value="Kerala">Kerala</option>
        <option value="Karnataka">Karnataka</option>
      </select><br><br>

      <label for="country"></label>
      <select id="country" name="country" formControlName="country">
      <option disabled selected value="">Country</option>
        <option value="India">India</option>
        <option value="Argentina">Argentina</option>
        <option value="Mexico">Mexico</option>
        <option value="Australia">Australia</option>
      </select><br><br>

      <label for="addressType"></label>
      <select id="addressType" name="addressType" formControlName="addressType">
      <option disabled selected value="">Select Address Type</option>
        <option value="home">Home</option>
        <option value="company">Company</option>
      </select><br><br>

    <div *ngIf="registrationForm.get('addressType')?.value === 'home'">
      <label for="homeAddress1">Home Address 1</label>
      <input type="text" id="homeAddress1" name="homeAddress1" placeholder="Home Address 1" formControlName="homeAddress1" required><br><br>

      <label for="homeAddress2">Home Address 2</label>
      <input type="text" id="homeAddress2" name="homeAddress2" placeholder="Home Address 2" formControlName="homeAddress2" required><br><br>
    </div>

    <div *ngIf="registrationForm.get('addressType')?.value === 'company'">
      <label for="companyAddress1">Company Address 1</label>
      <input type="text" id="companyAddress1" name="companyAddress1" placeholder="Company Address 1" formControlName="companyAddress1" required><br><br>

      <label for="companyAddress2">Company Address 2</label>
      <input type="text" id="companyAddress2" name="companyAddress2" placeholder="Company Address 2" formControlName="companyAddress2" required><br><br>
    </div>

       <label for="tags"></label>
         <input type="text" id="tags" name="tags" placeholder="tags" formControlName="tags" [(ngModel)]="selectedTag" (keydown.enter)="addTag()">
         <div class="tags-container">
          <span *ngFor="let tag of tags" class="tag" (click)="selectTag(tag)">{{ tag }}
          <span class="tag-close" (click)="removeTag(tag)">x</span>
          </span><br><br>
    </div> 
    
      <input class="chk" type="checkbox" id="subscribe" name="subscribe" formControlName="subscribe">
        Subscribe to newsletter<br><br><br>
      
      <button class="button" type="button">Cancel</button>&nbsp;&nbsp;
       <input class="button" type="submit" value="Submit"> 
      <!-- <input class="button" type="submit" value="Submit" [disabled]="!registrationForm.valid"> -->
      
      
    </form>
  </div><br><br>


  

 

