   
<div class="form">
  <div class="home" >
    <p class="p" align="center">I'm looking for..</p>
    <label for="searchBox"></label>
    <input type="text" id="searchBox" placeholder="Enter a job Description"> &nbsp;&nbsp;&nbsp;
    <button onclick="search()">Search</button>
    <br><br><br>
<div class="checkbox-label">
    <input type="checkbox" id="checkbox1">
    <label for="checkbox1">Full Time</label>
    <input type="checkbox" id="checkbox2">
    <label for="checkbox2">Part Time/Casual/Freelance</label>
  </div>
    <label for="searchLocation"></label>
<select id="searchLocation">
  <option disabled selected value="">Select Your Location</option>
  <option value="locn1">Pune</option>
  <option value="locn2">Mumbai</option>
  <option value="locn3">Delhi</option>
  <option value="locn4">Nagpur</option>
</select>
    <br><br><br>
    <button (click)="navToReg()">Register</button>
  </div>


  <div class="desc">
    <p class="title">We're leaders in </p>
    <p class="title">Creative Digital Recruitment</p><br><br>
    <p class="subtitle">Based in Surry Hills, the Creative hub of Sydney we are surrounded by creativity</p>
    <p class="description">and that reflects on the type of jobs we Recruit for.</p>
  
    <button class="btn" onclick="search()">FIND OUT MORE ABOUT US!</button>
  </div>
     
  <div class="sbb">
    <p class="sb">Subscribe to our Job Seeker Mailing List</p><br><br>
    
    <input class="eml" type="email" id="emailInput" placeholder="Enter Your Email Address"><br><br><br>
  </div>
  <div>
  <footer align="left">
    <input type="email" id="emailInput" placeholder="Email"><br><br>
    Copyright &copy 2024 Two Bytes Consuting.Terms and Policies.&nbsp;&nbsp;&nbsp;
    
  </footer>
</div>
</div>

